
body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
a { text-decoration: none; color: inherit; }
h1, h2, h3 { margin: 0; }

/* header */
header {
  background-color: #333;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
}
nav a {
  margin: 0 10px;
  color: white;
}

/* hero section */
.hero {
  padding: 100px 400px;
  background-image:url("../images/HomePage/hero.jpg");
  background-size: cover;
}

.hero h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
  color: aliceblue;
}

.hero p {
  font-size: 30px;
  font-weight: 500;
  margin-top: 30px;
  max-width: 500px;
  color: aliceblue;
}


/* service */
.services {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.services h2{
  padding: 1rem;
  text-align: center;
  margin-bottom: 15px;
  background-color: #42c0c6;
  color: white;
  border-radius: 5px;
}


/* process */
.process {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.process h2{
  padding: 1rem;
  text-align: center;
  margin-bottom: 15px;
  background-color: #42c0c6;
  color: white;
  border-radius: 5px;
}


/* contact */
/* contact */
.contact {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

.contact h2 {
  padding: 1rem;
  text-align: center;
  margin-bottom: 15px;
  background-color: #42c0c6;
  color: white;
  border-radius: 5px;
}

.contact-content {
  display: flex;               /* 横向排列内容 */
  justify-content: center;     /* 水平居中整体内容 */
  align-items: center;         /* 垂直居中 */
  gap: 50px;                   /* 图片与文字之间的间距 */
  flex-wrap: wrap;             /* 小屏幕时换行 */
  text-align: left;            /* 让文字靠左对齐 */
}

.contact p {
  max-width: 800px;
}

.contact img {
  width: 300px;
}


/* service items */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 4rem;
}

.services-item {
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.services-item img {
  max-width: 100%;
  align-items: center;
  border-radius: 8px;
}

.service-item h3 {
  margin-top: 0;
}

.service-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


/* footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}